body {
	margin:0em;
	padding: 0 em;
	background: black none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

. invisible {
	display: none;
}

#fixed {
	position: absolute;
	top:60px;
	left:0;
	width: 10em;
	height: 200px;
	background:yellow;
	color:black;
}

body > #fixed {
	position: fixed;
}