 	import net.jini.jeri.*;
import net.jini.jeri.http.*;
import javax.security.auth.login.LoginContext;
import com.sun.jini.config.ConfigUtil;
import java.net.URL;

org.jini.projects.neon{
    serverExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0),
                     new BasicILFactory());
    initialLookupGroups = new String[]{"$[group]"};
    codebase="$[CODEBASE]";	   
    messagingexportMgrConfig = "$[rootdir]/conf/msgexportmgr.config";
    exporterMgrConfig = "$[rootdir]/conf/exportmgr.config";
    exporterMgrDirectory = "$[rootdir]/conf/expdir";
    persistenceDirectory = "$[rootdir]/log/neon";
    startupfile = "$[startupfile]";
    maxAgentsofType=10;
    maxAgentsofAncestor=50;
    useThreadGroups=true;
    bootAgentConfig= new URL("file:conf/bootstrap.config");
    consoleLogLevel="$[ConsoleLogLevel]";
    fileLogLevel="$[FileLogLevel]" ;
    
    webServicePort=$[webServicePort];
    httpdPort=$[httpdPort];
    savepointPeriod=new Integer(-1);
    renderContext="/agents";
    storeDomainDataSpace="$[spaceName]";
    
    tomcatBase="$[tomcatBase]";
     useRavenous=Boolean.FALSE;
    useTomcat=$[useJetty];
	kernelSDMGroups = new String[]{"$[group]"};
	
	securityUser = "johns";
	securityPassword = "openup";
	keystoreLocation = "$[rootdir]/conf/keystore.ks";
	keystoreType="jks";
	keystorePass="keystore";
	
}

messagingManager {
    sdmLookupGroups = new String[]{"$[group]"};
}

org.jini.projects.zenith.router{
	initialLookupGroups = new String[]{"$[group]"};
}



org.jini.projects.neon.CheckPoint{
	spaceName="$[spaceName]";
}

org.jini.projects.neon.Recovery{
	spaceName="$[spaceName]";
}
