import net.jini.core.lookup.ServiceTemplate;
import org.jini.projects.neon.util.*;
import net.jini.core.entry.Entry;

org.jini.projects.neon.tasks.tests.TaskCreator{
	space = new ServiceTemplatePlugin(null, new Class[]{net.jini.space.JavaSpace.class},new Entry[]{new net.jini.lookup.entry.Name("$[spaceName]")});
}