import net.jini.core.lookup.ServiceTemplate;
import org.jini.projects.neon.util.*;
import net.jini.core.entry.Entry;
import org.jini.projects.neon.tasks.*;

org.jini.projects.neon.sample.tasks.TaskMaker{
	taskFilter= new TaskFilter(new String[]{"CubeValue","SquareValue","QuadValue","QuintValue"}); 
	name="PowerResultsAgent";
	taskProcessor = new org.jini.projects.neon.tasks.tests.ReverseProcessor();
	space = new ServiceTemplatePlugin(null, new Class[]{net.jini.space.JavaSpace.class},new Entry[]{new net.jini.lookup.entry.Name("$[spaceName]")});
	
}