
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.Name;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.activation.ActivationExporter;
import java.rmi.activation.ActivationID;

import com.sun.jini.outrigger.snaplogstore.LogStore;

com.sun.jini.outrigger{
	
	initialLookupAttributes=new Entry[]{	new Name("$[spaceName]")};
	
	initialLookupGroups=new String []{"$[group]"};
	
	persistenceDirectory="activation/log/$[spaceName].log";
	store = new LogStore(this);
	
	Exporter= new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
	new BasicILFactory());
	serverExporter= new ActivationExporter((ActivationID) $data,Exporter);
	
}