import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.SharedActivatableServiceDescriptor;
import com.sun.jini.start.SharedActivationGroupDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    private static codebase = ConfigUtil.concat(new Object[] {
        "http://", ConfigUtil.getHostName() , ":8085/reggie-dl.jar"," ",
        "http://", ConfigUtil.getHostName(), ":8085/jsk-dl.jar "});

    private static policy = "policy/reggie.policy";
    private static classpath = "${jiniLib}/reggie.jar";

    private static config = "config/activatable-reggie.config";
    
    private static groupPersistenceDirectory = "log/group.log";
	
    private static groupPolicy = "policy.all";
    private static groupClasspath = "${jiniLib}/sharedvm.jar";
    
  
  private static outriggerCodebase = ConfigUtil.concat(new Object[] {
        "http://", ConfigUtil.getHostName(), ":8085/outrigger-dl.jar"," ",
        "http://", ConfigUtil.getHostName(), ":8085/jsk-dl.jar "});

    
        private static outriggerPolicy = "policy/outrigger.policy";
    private static outriggerClasspath = "${jiniLib}/outrigger.jar";

    private static outriggerConfig = "config/activatable-outrigger.config";
  
  
  private static mahaloCodebase = ConfigUtil.concat(new Object[] {
        "http://", ConfigUtil.getHostName(), ":8085/mahalo-dl.jar"," ",
        "http://", ConfigUtil.getHostName(), ":8085/jsk-dl.jar "});

    private static mahaloPolicy = "policy/mahalo.policy";
    private static mahaloClasspath = "${jiniLib}/mahalo.jar";

    private static mahaloConfig = "config/activatable-mahalo.config";
  

    serviceDescriptors = new ServiceDescriptor[] {
	
	new SharedActivationGroupDescriptor(
	    groupPolicy, groupClasspath, groupPersistenceDirectory,
	    null /* serverCommand */,
	    null /* serverOptions */,
	    null /* serverProperties */),

	 new SharedActivatableServiceDescriptor(
	    codebase, policy, classpath,
	    "com.sun.jini.reggie.PersistentRegistrarImpl",
	    groupPersistenceDirectory, 
	    new String[] { config }, 
	    true /* restart */),
    
    new SharedActivatableServiceDescriptor(
	    outriggerCodebase, outriggerPolicy, outriggerClasspath,
	    "com.sun.jini.outrigger.PersistentOutriggerImpl",
	    groupPersistenceDirectory,
	    new String[] { outriggerConfig },
	    true ),
	    
	     new SharedActivatableServiceDescriptor(
	    mahaloCodebase, mahaloPolicy, mahaloClasspath,
	    "com.sun.jini.mahalo.ActivatableMahaloImpl",
	    groupPersistenceDirectory,
	    new String[] { mahaloConfig },
	    true )
	    
	    
	    /* End of serviceDescriptors */
	    };
}
