import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import java.io.File;

com.sun.jini.start {
    private static codebase = ConfigUtil.concat(new Object[] {
        "http://", ConfigUtil.getHostName(), ":8085/phoenix-dl.jar"," ",
        "http://", ConfigUtil.getHostName(), ":8085/jsk-dl.jar"});
	
		private static config="config\\phoenix.config";
	
	private static policy="policy\\phoenix.policy";
	private static classpath="${jiniLib}\\phoenix.jar;${jiniLib}\\jsk-lib.jar";
	

    static serviceDescriptors = new ServiceDescriptor[] {
	new NonActivatableServiceDescriptor(
	    codebase, policy, classpath,
	    "com.sun.jini.phoenix.PhoenixStarter",
	    new String[] {config})
    };
}

