<html>
	<head>
		<title>Hello $[name]!</title>
	</head>
	<body>
		$[if:color]<font color='$[color]'>$[endif]Hello There, $[name]<br/>$[if:color]</font>$[endif]
		$[if:name]Your name is comprised of these letters:<br/>$[endif]
		
	</body>
</html>