 	import net.jini.jeri.*;
import net.jini.jeri.http.*;
import javax.security.auth.login.LoginContext;
import com.sun.jini.config.ConfigUtil;

org.jini.projects.neon{
    serverExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0),
                     new BasicILFactory());
    initialLookupGroups = new String[]{"production"};
    codeBaseHostdir="http://horus:8085/";
    codebase=ConfigUtil.concat(new Object[]{ "http://horus:8085/neon-dl.jar", " ", codeBaseHostdir,"zenith_mesgsvc-dl.jar"});
    messagingexportMgrConfig = "d:/development/workspace/neon/src/conf/msgexportmgr.config";
    exporterMgrConfig = "d:/development/workspace/neon/src/conf/exportmgr.config";
    persistenceDirectory = "d:/development/workspace/neon/src/log/neon";
    maxAgentsofType=10;
    maxAgentsofAncestor=50;
    useThreadGroups=true;
    consoleLogLevel="FINE" ;
    fileLogLevel="FINEST" ;
	startupfile = "d:/development/workspace/neon/src/conf/startup.xml";
	
    tomcatBase="/usr/local/java/tomcat";
    useTomcat=Boolean.FALSE;
	kernelSDMGroups = new String[]{"production"};
}

messagingManager {
    sdmLookupGroups = new String[]{"production"};
}



org.jini.projects.zenith.router{
	initialLookupGroups = new String[]{"production"};
}

//Specifies Login context Information
loki{
    serverUserName="server";
    loginContext = null;
}


org.jini.projects.neon.CheckPoint{
	spaceName="SALESSPACE";
}

org.jini.projects.neon.Recovery{
	spaceName="SALESSPACE";
}
