import net.jini.lookup.entry.*;
import net.jini.core.entry.*;

import net.jini.jeri.*;
import net.jini.jeri.tcp.*;

org.jini.projects.neon.di.tests.Simple{
	id="test1";
	SimpleString = "abc"; 
	testString=SimpleString;
	logLevel="FINEST";
	static simple=2;
	groups=new String[]{"production"};
	codebase="http://HORUS:8081/thor-dl.jar";
	initialLookupAttributes = new Entry[] {new Name("TestingConfigScan")};
	static  myExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
	theDependent="org.jini.projects.neon.di.tests.Dependent$Test1";
	
	theDependent2="org.jini.projects.neon.di.tests.Dependent$Test2";
	theDependent3="org.jini.projects.neon.di.tests.Dependent$Test3";
	theDependent4="org.jini.projects.neon.di.tests.Dependent$Test4";
	theDependent5="org.jini.projects.neon.di.tests.Dependent$Test5";
	
}


org.jini.projects.neon.di.tests.Dependent$Test1{
	id="Test1";
myString="Hello";
}

org.jini.projects.neon.di.tests.Dependent$Test2{
	id="Test2";
	static simple=2;
myString="There";
}




org.jini.projects.neon.di.tests.Dependent$Test3{
	id="Test2";
	myString="Simple";
}

org.jini.projects.neon.di.tests.Dependent$Test4{
	id="Test2";
	myString="Dependency";
}

org.jini.projects.neon.di.tests.Dependent$Test5{
	id="Test2";
	myString="Injection";
}