import org.jini.projects.zenith.messaging.channels.connectors.transports.jini.*;
import org.jini.projects.zenith.messaging.broker.constrainable.BrokerCreator;
import org.jini.projects.neon.host.transactions.constrainable.TransactionProxyCreator;
import net.jini.jeri.*;
import net.jini.jeri.http.*;
import net.jini.jeri.tcp.*;

ExportManager {
    mgrDefs = new String[]{"Standard", "Connectors", "Broker", "Transaction"};
}

ExportManager.Standard{
    exporterClass = BasicJeriExporter.class;
    serverEndpoint = HttpServerEndpoint.getInstance(0);
    ILFactory = new BasicILFactory();
}

ExportManager.Connectors {
      exporterClass = BasicJeriExporter.class;
        serverEndpoint = HttpServerEndpoint.getInstance(0);
        ILFactory = new BasicILFactory();
    proxyCreator = new ConnectorCreator();
}


ExportManager.Broker{
      exporterClass = BasicJeriExporter.class;
        serverEndpoint = HttpServerEndpoint.getInstance(0);
        ILFactory = new BasicILFactory();
    proxyCreator = new BrokerCreator();
}

ExportManager.Transaction{
	  exporterClass = BasicJeriExporter.class;
        serverEndpoint = TcpServerEndpoint.getInstance(8592); 
        ILFactory = new BasicILFactory();
        proxyCreator = new TransactionProxyCreator();
}

TestReference{
    serverExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0),new BasicILFactory());    
}
