import org.jini.projects.zenith.messaging.channels.connectors.transports.jini.*;
import org.jini.projects.zenith.messaging.broker.constrainable.BrokerCreator;
import net.jini.jeri.*;
import net.jini.jeri.http.*;

ExportManager {
    mgrDefs = new String[]{"Standard", "Connectors", "Broker"};
}

ExportManager.Standard{
    exporterClass = BasicJeriExporter.class;
    serverEndpoint = HttpServerEndpoint.getInstance(0);
    ILFactory = new BasicILFactory();
}

ExportManager.Connectors {
      exporterClass = BasicJeriExporter.class;
        serverEndpoint = HttpServerEndpoint.getInstance(0);
        ILFactory = new BasicILFactory();
    proxyCreator = new ConnectorCreator();
}


ExportManager.Broker{
      exporterClass = BasicJeriExporter.class;
        serverEndpoint = HttpServerEndpoint.getInstance(0);
        ILFactory = new BasicILFactory();
    proxyCreator = new BrokerCreator();
}

TestReference{
    serverExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0),new BasicILFactory());    
}
