import net.jini.jeri.*;
import net.jini.jeri.http.*;
import javax.security.auth.login.LoginContext;
import com.sun.jini.config.ConfigUtil;
import java.net.URL;


org.jini.projects.neon{
    serverExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0),
                     new BasicILFactory());
    mode = "direct";
    initialLookupGroups = new String[]{"incaX"};
    private host = "localhost";
    private port = "8086"; 
    warLocation = "/Users/calum/Documents/workspace/neon/dist/neon/lib-war/neonadmin.war";
    private dircontext="/lib/";
    codeBaseHostdir="http://"+host +":" + port + dircontext;
    codebase=ConfigUtil.concat(new Object[]{ codeBaseHostdir,"neon-dl.jar ",  codeBaseHostdir,"jsk-dl.jar ", codeBaseHostdir,"zenith_mesgsvc-dl.jar ",
    codeBaseHostdir,"neon-gen-dl.jar ",
    codeBaseHostdir,"neon-samples-gen-dl.jar ",
    codeBaseHostdir,"neon-tests-gen-dl.jar "});
    messagingexportMgrConfig = "conf/msgexportmgr.config";
    exporterMgrConfig = "conf/exportmgr.config";
     exporterMgrDirectory = "/Users/calum/Documents/workspace/neon/dist/neon/conf/expdir";
    persistenceDirectory = "log/neon";
    startupfile = "conf/startup.xml";
    bootAgentConfig= new URL("file:conf/bootstrap.config");
    maxAgentsofType=10;
    maxAgentsofAncestor=50;
    useThreadGroups=true;
    consoleLogLevel="INFO" ;
    
        webServicePort=9001;
    savepointPeriod=new Integer(-1);
    
    renderContext="/agents";
    storeDomainDataSpace="Blitz JavaSpace";
    fileLogLevel="FINEST" ;
    tomcatBase="c:\\development\\neon-tomcat";
    useTomcat=Boolean.TRUE;
    useRavenous=Boolean.FALSE;
    httpdPort=8083;
    
    securityUser = "johns";
	securityPassword = "openup";
	keystoreLocation = "conf/keystore.ks";
	keystoreType="jks";
	keystorePass="keystore";
    
    /*ravenousConfig="d:\\java\\ravenous\\config\\ravenous.conf";*/
        kernelSDMGroups = new String[]{"incaX"};
}

messagingManager {
    sdmLookupGroups = new String[]{"incaX"};
}



org.jini.projects.zenith.router{
        initialLookupGroups = new String[]{"incaX"};
}

//Specifies Login context Information
loki{
    serverUserName="server";
    loginContext = null;
}


org.jini.projects.neon.CheckPoint{
        spaceName="Blitz JavaSpace";
        storeStateMinutes = 2;
}


