import net.jini.jeri.*;
import net.jini.jeri.http.*;
import javax.security.auth.login.LoginContext;
import com.sun.jini.config.ConfigUtil;
import java.net.URL;
org.jini.projects.neon{
    serverExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0),
                     new BasicILFactory());
    mode = "direct";
    initialLookupGroups = new String[]{"incaX"};
    private host = "192.168.1.200";
    private port = "80"; 
    warLocation = "lib-war/neonadmin.war";
    private dircontext="/~calum/dl/";
    codeBaseHostdir="http://"+host +":" + port + dircontext;
    codebase=ConfigUtil.concat(new Object[]{ codeBaseHostdir,"neon-dl.jar ", codeBaseHostdir,"jsk-dl.jar ", codeBaseHostdir,"zenith_mesgsvc-dl.jar"});
    messagingexportMgrConfig = "conf/msgexportmgr.config";
    exporterMgrConfig = "conf/exportmgr.config";
    persistenceDirectory = "log/neonsecond";
    startupfile = "conf/startupsecond.xml";
    bootAgentConfig= new URL("file:conf/bootstrap.config");
    maxAgentsofType=10;
    maxAgentsofAncestor=50;
    useThreadGroups=true;
    consoleLogLevel="INFO";
    
    fileLogLevel="FINEST" ;
    tomcatBase="c:\\development\\neon-tomcat";
    useTomcat=Boolean.FALSE;
    useRavenous=Boolean.FALSE;
    httpdPort=8082;
    /*ravenousConfig="d:\\java\\ravenous\\config\\ravenous.conf";*/
        kernelSDMGroups = new String[]{"incaX"};
}

messagingManager {
    sdmLookupGroups = new String[]{"incaX"};
}



org.jini.projects.zenith.router{
        initialLookupGroups = new String[]{"incaX"};
}

//Specifies Login context Information
loki{
    serverUserName="server";
    loginContext = null;
}


org.jini.projects.neon.CheckPoint{
        spaceName="Blitz JavaSpace [persistent]";
}

org.jini.projects.neon.Recovery{
        spaceName="Blitz JavaSpace [persistent]";
}
