org.jini.projects.neon.agents.restrictions{
	domain="datalayer";
	meta = "hasWord, hasExcel";
	requiredClasses = new String[]{
			"com.foo.bar.wordintegration.WordApp",
			"com.foo.bar.excelintegration.ExcelApp"
		};
	requiredInstances = new String[]{
		"neon.ServiceAgent"
	};
	osArch="x86";
	osFamily="Windows XP"
	osVersion="5.1";
	memoryMinimumMB="10";
}