import com.sun.jini.config.ConfigUtil;
import com.sun.jini.config.KeyStores;

import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

import net.jini.url.httpmd.HttpmdUtil;

import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.Integrity;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.core.constraint.ServerMinPrincipal;

import net.jini.security.AuthenticationPermission;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.security.BasicProxyPreparer;

import javax.security.auth.login.LoginContext;

import java.security.Permission;
import java.util.Collections;

com.sun.jini.start {

    
   loginContext = new LoginContext("xjsc.jaas.login");

		
   static private codebase = HttpmdUtil.computeDigestCodebase(".", ConfigUtil.concat(new Object[] {
        "httpmd://", ConfigUtil.getHostName(), ":","${incax.httpd.port}","/lib/SimpleTest-dl.jar;sha=0"}));

    private static policy =  "policy/SimpleTest-activatable.policy";
    private static classpath =  "lib/SimpleTest.jar";
    private static config ="deploy/config/transient-SimpleTest-activatable.config";
   
    static serviceDescriptors = new ServiceDescriptor[] {

	new NonActivatableServiceDescriptor(
			codebase, policy, classpath,
			"org.jini.simple.service.MyServiceImpl",
			 new String[] { config }
	)};
}


