import com.sun.jini.start.SharedActivatableServiceDescriptor;
import com.sun.jini.start.SharedActivationGroupDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start{
	static codebase="http://horus:8085/neon-dl.jar http://horus:8085/zenith_mesgsvc-dl.jar";
	static policy="d:/policy.all";
	static logdir="logs/act/group.log";
	static classpath=".;d:/development/workspace/neon/bin;d:/development/workspace/eros.jini.org/bin;d:/development/workspace/zenith/bin;d:/development/workspace/exportermanager/bin;d:\\development\\jini2_0_1\\lib\\jini-core.jar;d:\\development\\jini2_0_1\\lib\\jini-ext.jar;d:\\development\\jini2_0_1\\lib\\jsk-platform.jar;d:\\development\\jini2_0_1\\lib\\jsk-policy.jar;d:\\development\\jini2_0_1\\lib\\jsk-resources.jar;d:\\development\\jini2_0_1\\lib\\start.jar;d:\\development\\jini2_0_1\\lib\\sun-util.jar;d:\\development\\jini2_0_1\\lib\\tools.jar;lib\\exportermanager.jar;lib\\neon-depend.jar;lib\\neon-intf.jar;lib\\neon.jar;lib\\zenith.jar;D:\\development\\libs\\serviceui-1.1.jar";
	static config="d:/development/workspace/neon/src/conf/activatable-neon.config";
	
	static serviceDescriptors = new ServiceDescriptor[]{
		new SharedActivationGroupDescriptor(policy, "d:\\development\\jini2_0_1\\lib\\sharedvm.jar",logdir,null,null,null),
		new SharedActivatableServiceDescriptor(
			codebase,policy,classpath,"org.jini.projects.neon.service.ActivatableServiceStartup",logdir,
			new String[]{config},true)
		};
}