import net.jini.core.lookup.ServiceTemplate;
import org.jini.projects.neon.util.*;
import org.jini.projects.neon.tasks.*;

org.jini.projects.neon.tasks.TaskAgent{
	taskFilter= new TaskFilter(new String[]{"ReverseOrder"}); 
	name="ReversingAgent";
	taskProcessor = new org.jini.projects.neon.tasks.tests.ReverseProcessor();
}